In [1]:
23 + '23'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
x = 'this is a string'

In [4]:
print("hello world")

hello world

In [5]:
print(7*7)

49

In [6]:
x = 23

In [7]:
x*3

69

In [8]:
x/4

5.75

In [9]:
x//4

5

In [10]:
print("the value of x: ", x)

the value of x:  23

In [1]:
"The first value: {0}, The second value: {1}".format('A string', 25)

'The first value: A string, The second value: 25'

In [2]:
x = 30

In [3]:
f"The variable value: {x}"

'The variable value: 30'

In [4]:
print("These are the 'quotes'")

These are the 'quotes'

In [1]:
my_list = [1, 2, 'this', 'that', 34, 51, 23, 'the last item']

In [2]:
other_list = sum(item for item in my_list if type(item) == int)

In [3]:
other_list

111

In [4]:
the_string = 'a string'

In [5]:
the_string.isalpha()

False

In [6]:
the_string2 = 'astring'

In [7]:
the_string2.isalpha()

True

In [8]:
the_string3 = 'heelo2'

In [9]:
the_string3.isnumeric()

False

In [10]:
the_string4 = '1234'

In [11]:
the_string4.isnumeric()

True

In [12]:
the_string = 'a 1string text'

In [13]:
has_numbers = any(char.isdigit() for char in the_string)

In [14]:
import numpy as np

In [17]:
var = np.arange(16).reshape(4, 4)

var

In [18]:
my_dict = {
    'key': 24,
    'key2':37,
    'key3':45
}

In [19]:
type(my_dict)

dict

In [20]:
my_dict['key']

24

In [21]:
my_dict[0]

KeyError: 0

In [22]:
my_dict['key4'] = 23

In [23]:
my_dict

{'key': 24, 'key2': 37, 'key3': 45, 'key4': 23}

In [24]:
try:
    my_dict['key5']
except:
    print("There's no key value for that")
else:
    print("Hello")

There's no key value for that

In [25]:
try:
    my_dict['key4']
except:
    print("There's no key value for that")
else:
    print(my_dict['key4'])

23

In [26]:
def my_function():
    print("the returned value")

In [27]:
my_function()

the returned value

In [28]:
a = my_function()

the returned value

In [29]:
a

In [30]:
a is None

True

In [31]:
def my_function():
    return "The returned value"

In [33]:
a = my_function()

In [34]:
a

'The returned value'

In [35]:
def squares_the_num(arg):
    return arg**2

In [36]:
squares_the_num()

TypeError: squares_the_num() missing 1 required positional argument: 'arg'

In [37]:
squares_the_num(12)

144

In [39]:
def adds_the_numbers(arg1, arg2):
    return arg1 + arg2

In [40]:
adds_the_numbers(2,3)

5

In [47]:
def adding(arg1, arg2, arg3 = 'hello'):
    return (arg1 + arg2, arg3)

In [48]:
adding(2,3)

(5, 'hello')

In [49]:
sum_of_nums, print_statement = adding(2,3)

In [50]:
sum_of_nums

5

In [51]:
print_statement

'hello'

In [52]:
my_string = 'abcdef'

In [54]:
my_string.find('e')

4