### Pandas Lab - Finding, Querying, Creating Data

### Section 1: Selecting Data

Complete the following prompts, and compare your results with the answers to confirm that you did the operation properly.

**1).** Find the average age of all passengers on board.  The answer will be 29.7

In [ ]:
# Your Code Here

**2).** Find the median value of the 'Fare' and 'SibSp' columns.  The answer will be 14.45 and 0.00, respectively.

In [ ]:
# Your Code Here

**3).** Find the median value of the 'Fare' and 'SibSp' columns in the first 100 rows.  The answer will be 15.675 and 0.00.

In [ ]:
# Your Code Here

**4).** Using the .iloc command, grab the modal value of the last 4 columns in the dataset.  The result should be a 3x3 dataframe that has the values 1601, 8.05, B96 B98, and S in the first row.

In [ ]:
# Your Code Here

**5).** Using the .iloc command, grab the mean value of the first 250 rows of the first 3 columns in the dataset.  The answer should be:
    - Passengerid: 125.5
    - Survived: 0.344
    - Pclass: 2.416

In [ ]:
# Your Code Here

### Section 2: Querying Data

**1).** How many females were on board the Titanic? Men? The answers should be 314, 577

In [ ]:
# Your Code Here

**2).** What was the survival rate for females on the Titanic? The answer should be 0.74

In [ ]:
# Your Code Here

**3).** What was the survival rate for Males? The answer should be 0.19

In [ ]:
# Your Code Here

**4).** What was the survival rate for passengers in either Pclass 1 or Pclass 2?  The answer should be 0.55

In [ ]:
# Your Code Here

**5).** What was the survival rate if you were female and had at least 1 sibling on board? The answer should be 0.686.

In [ ]:
# Your Code Here

### Section 3: Creating New Data

**1).** Create a column called 'Is_Alone' that's either True or False, depending on whether or not the column 'Family_Size' is > 0 or not.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('/Users/natimarcus/Desktop/GA2/Unit 2/Lesson 5/titanic.csv')

In [8]:
df['family_size'] = (df.SibSp) + (df.Parch)

In [27]:
df['Is_Alone'] = np.where(df['family_size'] < 1, True, False)

In [28]:
df[['Is_Alone', 'family_size']].head(10)

   Is_Alone  family_size
0     False            1
1     False            1
2      True            0
3     False            1
4      True            0
5      True            0
6      True            0
7     False            4
8     False            2
9     False            1

**2).** Create a column called 'Demographic' that breaks people up into the following categories:
 - Below 8 years old: 'Child'
 - 8 - 21 years old: 'Adolescent'
 - 22 - 55 years old: 'Adult'
 - 55+: 'Senior'
 
When you're finished, use the method .value_counts() to confirm each section has the following count values:
 - Adult: 470
 - Adolescent: 154
 - Child: 50
 - Senior: 40

In [21]:
df['Demographic'] = pd.cut(df['Age'], bins = [0,7,21,55,200] , labels = ['Child', 'Adolescent', 'Adult', 'Senior'])

In [22]:
df['Demographic'].value_counts()

Adult         470
Adolescent    154
Child          50
Senior         40
Name: Demographic, dtype: int64

**3).** Create a column called 'Gender_Status' that returns the following values:

 - 'F-High' if passenger is female and passenger class is 1.
 - 'F-Low' if passenger is female and passenger class is 2 or 3
 - 'M-High' if passenger is male and passenger class is 1
 - 'M-Low' if passenger is male and passenger class is 2 or 3
 
When you are finished, use .value_counts() to confirm you have the following count values for each of the following:
 - 'M-Low': 455
 - 'F-Low': 220
 - 'M-High': 122
 - 'F-High': 94

In [25]:
conditions = [
    (df['Sex'] == 'female') & (df['Pclass'] == 1),
    (df['Sex'] == 'female') & ((df['Pclass'] == 2) | (df['Pclass'] == 3)),
    (df['Sex'] == 'male') & (df['Pclass'] == 1),
    (df['Sex'] == 'male') & ((df['Pclass'] == 2) | (df['Pclass'] == 3))
]

results = [
    'F-High',
    'F-Low',
    'M-High',
    'M-Low'
]

df['Gender_Status'] = np.select(conditions, results, 'Other')

In [26]:
df['Gender_Status'].value_counts()

M-Low     455
F-Low     220
M-High    122
F-High     94
Name: Gender_Status, dtype: int64

**4).** Using string methods, extract the *greeting* of the persons name on board.  Ie, if someone's name is 'Ms. Madame Bovary', create a column that contains the value 'Ms.' and nothing else.

**Hint:** Take a look at the split() method and see what it does if you're not sure where to go.

In [29]:
df['Greeting'] = df['Name'].str.split().str[1]

In [30]:
df['Greeting'].head(10)

0        Mr.
1       Mrs.
2      Miss.
3       Mrs.
4        Mr.
5        Mr.
6        Mr.
7    Master.
8       Mrs.
9       Mrs.
Name: Greeting, dtype: object