In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
data = pd.read_csv('/Users/natimarcus/Desktop/DAT-06-24/class material/Unit 3/data/advertising.csv', index_col=0)
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [ ]:
#predictors are TV, radio, newspaper. Outcome is sales

In [13]:
np.sum((data.radio - data.radio.mean())**2)/(len(data)-1) #manually calc variance of radio col

220.42774271356785

In [14]:
data.radio.var() #unit is $^2

220.4277427135678

In [17]:
(np.sum((data.radio - data.radio.mean())**2)/(len(data)-1))**(1/2)

14.846809176168724

In [16]:
data.radio.std() #unit is $

14.846809176168723

In [26]:
(np.sum((data.radio - data.radio.mean())*(data.sales - data.sales.mean())))/(len(data)-1)

44.635688442211055

In [24]:
np.cov(data.radio, data.sales)

array([[220.42774271,  44.63568844],
       [ 44.63568844,  27.22185302]])

In [27]:
cov = (np.sum((data.radio - data.radio.mean())*(data.sales - data.sales.mean())))/(len(data)-1)

In [28]:
cov / (data.radio.std() * data.sales.std()) #manually calc correlation

0.5762225745710555

In [31]:
data[['radio', 'sales']].corr()

          radio     sales
radio  1.000000  0.576223
sales  0.576223  1.000000